/* Your SCSS here. */
html{
    scroll-behavior: smooth;
    scroll-padding-top: 10% ;
}
body{
    margin: 0;
    background-image: url(../assets/dibujo_guapo.jpg);
}
h1{
    margin-left: 5%;
}
#navbar{
    position:fixed;
    display: flex;
    height: 20%;
    width: 100%;
    margin: 0;
    top:0%;
    background-color: rgb(223, 113, 24);
    transition: height 0.5s ease-in-out;

}
#logo{
    margin: 0%;
    max-width: 100%;
    height: auto;
}
#navbar_text{
    margin-left: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    h3{
        padding: 2%;
        border-radius: 12.5%;
        transition: background-color 0.5s ease-in-out;
    }
    h3:hover{
            background-color: hsla(52%, 88%, 81%, 0.75);
    }

}
#intro{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 30%;
    margin: 20% auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: hsla(52%, 88%, 81%, 0.75);
    border-radius: 25px;
    border: solid 2px #ffffff;
        
    }

#About{
    margin-top: 10%;
    width: 100%;
    height: 50%;
    display: flex;
    background-color: rgb(235, 214, 186);
    object-fit: scale-down;

}
#Hobbies{
    margin-top: 10%;
    width: 100%;
    height: 50%;
    display: flex;
    background-color: rgb(235, 214, 186);
    flex-direction: column;
    
    object-fit: scale-down;

}
#hobbies_content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    #prev_h, #next_h{
        margin: 2%;
        padding: 2%;
        border-radius: 12.5%;
        transition: background-color 0.5s ease-in-out;
    }
    #prev_h:hover, #next_h:hover{
        background-color: hsla(52%, 88%, 81%, 0.75);
    }
}
.slide{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.slide img{
        display: block;
        object-fit: contain;
        height: 100%;
        width: 100%;
    };
.active{
    display: flex;
}
.inactive{
    display: none;
}
.text_content{
    display: flex;
    flex-direction: column;
    margin: 1%;

    h1{
        font-style: italic;
        text-shadow: 1px 1px white;
    }
    p{
        text-shadow: 1px 1px white;
    }
}
#Computer_Science{
    margin-top: 10%;
    width: 100%;
    height: 50%;
    display: flex;
    object-fit: scale-down;

}
#Parents{
    margin-top: 10%;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content:right ;
    object-fit: scale-down;
    #container{
        display: flex;
        justify-content: space-between;
        div {
            margin: 0% 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                border-radius: 25px;
            }
        }
    }
}
img{
    margin: 3%;
    max-width: 100%;
    height: auto;
}
#Social_networks{
    display: flex;
    height: 10%;
    width: 100%;
    margin: 0;
    background-color: rgb(223, 113, 24);
}
.share-btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 5%;
  height: auto;
  max-width: 100%;
  background-color: #ffffff;
  border: none;
  padding: 0.1% 0.6%;
  outline: none;
  text-align: center;
  margin: 1%;
  border-radius: 10%;
}